<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.shop.web.admin.dao.TbUserDao">
    <sql id="tbUserColumns">
        a.id,
        a.username,
        a.password,
        a.phone,
        a.email,
        a.created,
        a.updated
    </sql>
    <select id="selectAll" resultType="TbUser">
        SELECT
        <include refid="tbUserColumns" />
        FROM
            tb_user AS a
    </select>
    <select id="getByEmail" resultType="TbUser" parameterType="string">
        SELECT
        <include refid="tbUserColumns" />
        FROM
        tb_user AS a
        WHERE
        a.email = #{email}
    </select>
</mapper>